// scss/_variables.scss

// --- PALETA DE COLORES PARA PLAGA URBANA ---
$primary-color: #2B2B2B;      // Fondo oscuro principal
$nav-color: #000000;          // Barra de navegación oscura
$accent-color: #5E17EB;        // Rojo para alertas, botones y acentos
$light-text-color: #ffffff;
$dark-text-color: #131414;
$light-bg: #EDEDED;
$light-grey-bg: lighten($primary-color, 5%); // Un gris claro para variar fondos
$firma-text-color: #b0b0b0;    // Color de texto para el footer final

// --- TIPOGRAFÍA ---
$primary-font: 'Roboto', arial, sans-serif;

// --- BREAKPOINTS PARA RESPONSIVE DESIGN ---
$breakpoint-xxl: 1530px;
$breakpoint-xl: 1199px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;